* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.icon-header {
  width: 1.2rem;
  height: 1.2rem;
  fill: white;
  margin: .3rem;
}

.icon-header1 {
  width: 1.5rem;
  height: 1.5rem;
  fill: grey;
  margin: .5rem;

}

.menu-icon {
  width: 3rem;
  height: 3rem;
}

.header {
  background-color: purple;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;


}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  display: block;
}

.header-span {
  margin-right: 18rem;
  color: white;
}

.section1-flex {
  display: flex;
  justify-content: space-around;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 .9rem;
}

.search {
  width: 250%;
  height: 2.8rem;
  padding: 0 1rem;
 
}

.img1 {
  padding: .3.5rem;
}

.search-button {


  top: 0;
  right: 0;
  position: absolute;
  border: none;
  width: 40%;
  height: 99%;
  padding: 0 1rem;
  margin-right: -19.2rem;
  background-color: goldenrod;


}

.div-span {
  position: relative;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20rem;
  list-style: none;

}

.nav-list {
  color: purple;
  font-size: small;
  font-weight: 500;
}




/*PICTURE SLIDER BELOW */

/*
.section-slider {
  margin: 0 auto;
  width: 100%;
  height: 40rem;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  
}

.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border: none;
  padding: 10px;
  color: white;
}

#next-btn:focus,
#prev-btn:focus {
  outline: none;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
}

*/
.slide {
  width: 100%;

}



.section3 {
  padding: 2rem 0;
  border: 1rem;
  border-bottom: 1rem;
  border-color: blue;

}

.section3-header {
  text-align: center;
  font-weight: 600;
}

.section-sticky {
  background-color: white;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
}

.img-section {
  width: 80%;
  display: block;
}

.flex-section {
  display: flex;
  justify-content: space-around;
  padding: .2rem;
  background-color: rgba(0, 0, 0, 0.692);
  width: 80%;
  justify-items: center;
  align-items: center;


}


.close-flex {
  display:flex
}
.icon-section {
  width: 1.5rem;
  height: 1.5rem;
  fill: rgba(255, 255, 255, 0.468);
}

.home-icon {
  width: 3rem;
  color: rgba(255, 255, 255, 0.468);
  

}

.back-button {
  background-color: blueviolet;
  color: white;
}

.cart-button {
  padding: .1rem;
  margin-top: .8rem;
  background-color: rgb(150, 5, 150);
  color: white;
}

.search-glass {
  width: 1.4rem;
  height: 1.4rem;
  margin-bottom: -1rem;
  visibility: hidden;
  color: rgba(255, 255, 255, 0.468);
}



.icon-header-shoppingBag {
  position: relative;
}

.shoppingBag {
  position: absolute;
  top: -10px;
  right: -2px;
  font-size: 13px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 5px;

}

.section-button-minus {
  background-color: rgba(0, 0, 0, 0.375);
}

.section-button-plus {
  background-color: rgba(0, 0, 0, 0.375);
}

.button-cart {
  color: rgba(255, 255, 255, 0.468);
}

.number {
  color: rgba(255, 255, 255, 0.468);
}

.product-section {
  padding: 0 7rem;
  display: flex;


}


.product-container {
  margin: 0;
  position: relative;


}

.product-name {
  margin: .5rem 0;
}



.product-container:hover .flex-section {
  height: 25%;
}

.flex-section {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  overflow: hidden;
}

.price-flex {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;

}

.price-section {
  padding: 0 20rem;
  padding-bottom: 4rem;
}

.button-flex {
  display: flex;
  justify-content: space-between;
}

.continue-button {
  padding: 1rem 7rem;
  background-color: rgb(150, 5, 150);
  color: white;

}

.proceed-button {
  padding: 1rem 7rem;
  background-color: rgb(150, 5, 150);
  color: white;
  ;
}

.total-price {
  font-size: large;

}

.price-amount {
  font-size: large;
  font-weight: 600;
}

.icon-header2 {
  width: 6rem;
  height: 6rem;
  fill: grey;
  margin: .5rem;

}

.closing-cart {
  text-align: center;
}

.close-tab {
  font-size: larger;
  font-weight: 400;
  color: gray;
  visibility: hidden;

}


.menu-icon {
  visibility: hidden;
  padding-left: .5rem;

    }

    .burger-nav {
      display: none;
      background-color: white;
    }

  
    .burger-flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 1.5rem;
      padding-left: 1.5rem;
      list-style: none;
      gap: 1rem;
      left: 0;
      z-index: 50;
      
    }


  

@media (max-width: 390px) {
  .section1-flex {
  justify-content: center !important;
  gap: 1rem !important;
padding: 0 2rem !important;
}


html, body {
  width: 100%!important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden!important;
 }

 .price-flex {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;

}


.section-sticky {
  background-color: white;
  overflow: hidden;
  position: static;
  top: 0;
  z-index: 100;
}



.continue-button {
  padding: .3rem .7rem !important;
  background-color: rgb(150, 5, 150);
  color: white;

}

.proceed-button {
  padding: .3rem .7rem !important;
  background-color: rgb(150, 5, 150);
  color: white;
  ;
}

.price-section {
  padding: 0 3rem;
  padding-bottom: 4rem;
}

 .product-section {
  display: flex;
  flex-direction: column;
 }

.nav-flex {
  visibility: hidden;
  max-height: 0;
}

  .section {
    display: block;
  }



.section {
  display: none;
}

.search {
  visibility: hidden;
  max-height: 0;
}
.search-button {
  visibility: hidden;
  max-height: 0;
}
  
  .search-glass {
    visibility: visible;
  }
  .menu-icon {
    visibility: visible;
  
      }

}

@media (max-width: 690px) {
  
  html, body {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden!important;
   }
   
   .product-section {
    display: flex;
    flex-direction: column;
   }
  
   .price-flex {
    display: flex;
    margin: 1.5rem 0;
    gap: 2rem;
    justify-content: center;
  
  }

  
  .button-flex {
    display: flex;
    gap: .5rem;
  }

  .price-section {
    padding: 0 3rem;
    padding-bottom: 4rem;
  }
  

  .section-sticky {
    background-color: white;
    overflow: hidden;
    position: static;
    top: 0;
    z-index: 100;
  }

  .continue-button {
    padding: .6rem 1rem !important;
    background-color: rgb(150, 5, 150);
    color: white;

  
  }

  .button-flex {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .proceed-button {
    padding: .6rem 1rem !important;
    background-color: rgb(150, 5, 150);
    color: white;
    
  }
 
  
  
  .nav-flex {
    visibility: hidden;
    max-height: 0;
  }

  .section {
    display: block;
  }
  .menu-icon {
    visibility: visible;
    
      }

  .search {
    visibility: hidden;
    max-height: 0;
  }
  .search-button {
    visibility: hidden;
    max-height: 0;
  }

  .search-glass {
    visibility: visible;
  }

  .product-section {
    display: flex;
    flex-direction: column;
  }

  .section1-flex {
    justify-content: center !important;
    gap: 4rem !important;

  }

  
}

@media (max-width: 960px) {
  .nav-flex {
    visibility: hidden;
    max-height: 0;
  }
  
  .continue-button {
    padding: .8rem 3rem;
    background-color: rgb(150, 5, 150);
    color: white;
  
  }

  .section-sticky {
    background-color: white;
    overflow: hidden;
    position: static;
    top: 0;
    z-index: 100;
  }

  

  .button-flex {
    display: flex;
    gap: 2rem;
  }
  
  .proceed-button {
    padding: .8rem 3rem;
    background-color: rgb(150, 5, 150);
    color: white;
    
  }
  .price-section {
    padding: 0 9rem;
    padding-bottom: 2rem;
  }


  .section {
    display: block;
    
  }

  .menu-icon {
    visibility: visible;
    
      }

  .product-section {
    display: flex;
    flex-direction: column;
  }

  .section1-flex {
    display: flex;
  justify-content: center;
  gap: 8rem;
  }

  .search {
    visibility: hidden;
    max-height: 0;
  }
  .search-button {
    visibility: hidden;
    max-height: 0;
  }
  .search-glass {
    visibility: visible;
    
  }
}

@media (max-width: 1200px) {

  .nav-flex {
    visibility: hidden;
    max-height: 0;
  }
  
  .menu-icon {
    visibility: visible;
    
      }

  .search {
    width: 150%;
  }
  .search-button {
    top: 0;
    right: 0;
    position: absolute;
    border: none;
    width: 40%;
    height: 99%;
    padding: 0 1rem;
    margin-right: -10.2rem;
    background-color: goldenrod;
  
  }
  

}

@media (max-width: 1800px) {
  
    
    
}

@media (max-width:  2652px) {
  
}